<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="flex bg-purple-500 justify-between align-middle">
        <div class="py-5 pl-5">
            <img src="../static/logo.svg" alt="logo"/>
        </div>
        <div class="py-5 md:text-xl text-5xl">
            <a href="/books" class="pr-2 text-white">books</a>
            <a href="/popular" class="pr-2 text-white">popular</a>
            <a href="/create" class="pr-2 text-white">create</a>
            <a href="/logout" class="pr-5 text-white">logout</a>
        </div>
    </div>
<div class="bg-purple-500 h-">

</div>

<!--<div class="container text-center border">-->
<!--    <div class="row">-->
<!--        <div class="col border">-->

<!--            <h3>GUEST!</h3>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--        <div class="col border">-->
<!--            Find All-->
<!--        </div>-->
<!--        <div class="col border">-->
<!--            <p th:text="${books}"></p>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--        <div class="col border">-->
<!--            findByISBN-->
<!--        </div>-->
<!--        <div class="col border">-->
<!--            <p th:text="${book}"></p>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--        <div class="col border">-->
<!--            findByTitle-->
<!--        </div>-->
<!--        <div class="col border">-->
<!--            <p th:text="${bookTitle}"></p>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
</html>