<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{book_overview.title}"></title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<!--    Header-->
<div class="bg-purple-500 text-white text-xl font-bold w-screen flex align-middle justify-between align-middle sticky top-0 z-50">
    <div class="py-5 pl-5 flex align-middle">
        <a href="/books">
            <img class="h-8" th:alt="logo" th:src="@{/logo.png}"/>
        </a>
        <span class="pl-5 cursor-default" th:text="|#{header.greeting} ${user.getUsername()} (${role})|" ></span>
    </div>
    <div class="flex py-5">
        <a class="pr-2" href="/books" th:text="#{header.books}"></a>
        <a class="pr-2" href="/popular"th:text="#{header.popular}"></a>
        <th:block th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
            <a class="pr-2" href="/create"th:text="#{header.create}"></a>
        </th:block>
        <a class="flex pr-5 pb-1">
            <form class="flex" method="post" th:action="@{/logout}">
                <input class="cursor-pointer" type="submit" th:value="#{header.logout}"/>
                <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
            </form>
        </a>
    </div>
</div>

<!--    Book overview-->

<div class="container mx-auto">
    <div class="w-max flex mt-4 mx-auto">
        <img class="h-96" th:alt="${book.getTitle()}" th:src="@{${book.getCoverUrl()}}"/>
        <div class="pl-4  flex flex-col justify-between h-96 ">
            <div>
                <span class="block font-bold text-3xl break-words" th:text="${book.getTitle()}"></span>
                <div>
                    <span class="font-xl" th:text="|#{book_overview.authors}: |"></span>
                    <span class="font-xl text-gray-500 break-words" th:text="${book.getAuthorsAsString()}"></span>
                </div>
                <div>
                    <span class="font-xl" th:text="|#{book_overview.isbn}: |"></span>
                    <span class="font-xl text-gray-500" th:text="${book.getISBN()}"></span>
                </div>
                <div>
                    <span class="font-xl" th:text="|#{book_overview.favorites}: |"></span>
                    <span class="font-xl text-gray-500" th:text="${book.getUsersList().size()}"></span>
                </div>
                <div>
                    <span class="font-xl" th:text="|#{book_overview.price}: |"></span>
                    <span class="font-xl text-gray-500"
                          th:text="|&euro;${#numbers.formatDecimal(book.getPrice(), 1, 2, 'COMMA')}|"></span>
                </div>
                <div>
                    <span class="font-xl" th:text="|#{book_overview.locations}: |"></span>
                    <span class="font-xl text-gray-500"
                          th:text="${book.getLocationsAsString()}"></span>
                </div>
            </div>

            <div>

                <p th:if="${message != null}" th:text="#{${message}}" class="w-64 text-center"></p>

                <th:block th:unless="${hasBook}">
                    <th:block th:unless="${reachedBookLimit}">

                        <form action="#" method="post" th:action="|add/${book.getId()}|">
                            <input class="bg-purple-500 hover:bg-purple-400 text-white font-bold py-2 px-4 rounded w-64"
                                   type="submit"
                                   th:value="#{book_overview.button.add}"/>
                        </form>

                    </th:block>
                </th:block>

                <th:block th:if="${hasBook}">
                    <form action="#" method="post" th:action="|remove/${book.getId()}|">
                        <input class="bg-transparent hover:bg-purple-400 text-purple-500 font-bold hover:text-white py-2 px-4 border border-purple-500 hover:border-transparent rounded w-64"
                               type="submit"
                               th:value="#{book_overview.button.remove}"/>
                    </form>
                </th:block>

            </div>
        </div>
    </div>
</div>
</body>
</html>