<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Overview</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<!--    Header-->
<div class="flex bg-purple-500 justify-between align-middle sticky top-0 z-50">
    <div class="container flex justify-between align-middle mx-auto">
        <div class="py-5 pl-5">
            <img class="h-8" th:alt="logo" th:src="@{/logo.png}"/>
        </div>
        <div class="flex py-5 md:text-xl text-5xl font-bold">
            <a class="pr-2 text-white" href="/books">books</a>
            <a class="pr-2 text-white" href="/popular">popular</a>
            <th:block th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                <a class="pr-2 text-white" href="/create">create</a>
            </th:block>
            <a class="flex pr-5 text-white pb-1">
                <form class="flex" method="post" th:action="@{/logout}">
                    <input class="cursor-pointer" type="submit" value="logout"/>
                    <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
                </form>
            </a>
        </div>
    </div>
</div>

<!--    Book overview-->

<div class="container mx-auto">
    <div class="w-max flex mt-4 mx-auto">
        <img class="h-96" th:alt="${book.getTitle()}" th:src="@{${book.getCoverUrl()}}"/>
        <div class="pl-4  flex flex-col justify-between h-96 ">
            <div>
                <span class="block font-bold text-3xl break-words" th:text="${book.getTitle()}"></span>
                <div>
                    <span class="font-xl">Authors: </span>
                    <span class="font-xl text-gray-500 break-words" th:text="${book.getAuthorsAsString()}"></span>
                </div>
                <div>
                    <span class="font-xl">ISBN: </span>
                    <span class="font-xl text-gray-500" th:text="${book.getISBN()}"></span>
                </div>
                <div>
                    <span class="font-xl">Favorites: </span>
                    <span class="font-xl text-gray-500" th:text="${book.getUsersList().size()}"></span>
                </div>
                <div>
                    <span class="font-xl">Price: </span>
                    <span class="font-xl text-gray-500"
                          th:text="|&euro;${#numbers.formatDecimal(book.getPrice(), 1, 2, 'COMMA')}|"></span>
                </div>
            </div>

            <div>
                    <th:block th:unless="${hasBook}">
                        <form action="#" method="post" th:action="|add/${book.getId()}|">
                            <input class="bg-purple-500 hover:bg-purple-400 text-white font-bold py-2 px-4 rounded w-64"
                                   type="submit"
                                   value="Add to favorites"/>
                        </form>
                    </th:block>

                    <th:block th:if="${hasBook}">
                        <form action="#" method="post" th:action="|remove/${book.getId()}|">
                            <input class="bg-transparent hover:bg-purple-400 text-purple-500 font-bold hover:text-white py-2 px-4 border border-purple-500 hover:border-transparent rounded w-64"
                                   type="submit"
                                   value="Remove from favorites"/>
                        </form>
                    </th:block>

            </div>
        </div>
    </div>
</div>
</body>
</html>