<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<!--    Header-->
<div class="bg-purple-500 text-white text-xl font-bold w-screen flex align-middle justify-between align-middle sticky top-0 z-50">
    <div class="py-5 pl-5 flex align-middle">
        <a href="/books">
            <img class="h-8" th:alt="logo" th:src="@{/logo.png}"/>
        </a>
        <span class="pl-5 cursor-default" th:text="|Hi ${user.getUsername()}|"></span>
    </div>
    <div class="flex py-5">
        <a class="pr-2" href="/books">books</a>
        <a class="pr-2" href="/popular">popular</a>
        <th:block th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
            <a class="pr-2" href="/create">create</a>
        </th:block>
        <a class="flex pr-5 pb-1">
            <form class="flex" method="post" th:action="@{/logout}">
                <input class="cursor-pointer" type="submit" value="logout"/>
                <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
            </form>
        </a>
    </div>
</div>

<!--form-->

<form class="grid grid-cols-3 gap-4 w-[50rem] mx-auto my-4"
      method="post"
      th:action="@{/create}"
      th:object="${bookRegistration}">


    <!--            page title-->
    <span class="text-4xl font-bold col-span-3">Create book</span>


    <!-- input for book info-->
    <span class="text-2xl col-span-3">General Information</span>

    <input class="w-full col-span-3 px-4 py-2 rounded-md drop-shadow-md focus:outline-purple-500 mb-2"
           placeholder="Title" th:field="*{bookTitle}"
           type="text"/>
    <p class="col-span-3 text-red-300" th:errors="*{bookTitle}" th:if="${#fields.hasErrors('bookTitle')}"></p>

    <input class="w-64 px-4 py-2 rounded-md drop-shadow-md focus:outline-purple-500 mb-2" placeholder="ISBN"
           th:field="*{bookISBN}"
           type="text"/>
    <input class="w-64 px-4 py-2 rounded-md drop-shadow-md focus:outline-purple-500 mb-2" placeholder="Cover URL"
           th:field="*{bookCoverUrl}"
           type="text"/>
    <input class="w-64 px-4 py-2 rounded-md drop-shadow-md focus:outline-purple-500 mb-2" placeholder="Price"
           th:field="*{bookPrice}"
           type="text"/>

    <p class="col-span-3 text-red-300" th:errors="*{bookISBN}" th:if="${#fields.hasErrors('bookISBN')}"></p>
    <p class="col-span-3 text-red-300" th:errors="*{bookCoverUrl}" th:if="${#fields.hasErrors('bookCoverUrl')}"></p>
    <p class="col-span-3 text-red-300" th:errors="*{bookPrice}" th:if="${#fields.hasErrors('bookPrice')}"></p>

    <span class="text-2xl col-span-3">Author Information</span>

    <!--    input for author info-->
    <input class="w-64 px-4 py-2 rounded-md drop-shadow-md focus:outline-purple-500 mb-2" placeholder="Author 1"
           th:field="*{bookAuthor1}"
           type="text"/>
    <input class="w-64 px-4 py-2 rounded-md drop-shadow-md focus:outline-purple-500 mb-2" placeholder="Author 2"
           th:field="*{bookAuthor2}"
           type="text"/>
    <input class="w-64 px-4 py-2 rounded-md drop-shadow-md focus:outline-purple-500 mb-2" placeholder="Author 3"
           th:field="*{bookAuthor3}"
           type="text"/>

    <p class="col-span-3 text-red-300" th:errors="*{bookAuthor1}" th:if="${#fields.hasErrors('bookAuthor1')}"></p>

    <!--    <th:block th:if="${error}">-->
    <!--        <span class="col-span-3 text-red-300">There is an error with the author information.</span>-->
    <!--    </th:block>-->

    <span class="text-2xl col-span-3">Location Information</span>
    <!--    input for location info-->
    <input class="w-64 px-4 py-2 rounded-md drop-shadow-md focus:outline-purple-500 mb-2"
           placeholder="Location 1 Code 1" th:field="*{bookLocation1Code1}"
           type="text"/>
    <input class="w-64 px-4 py-2 rounded-md drop-shadow-md focus:outline-purple-500 mb-2"
           placeholder="Location 1 Code 2" th:field="*{bookLocation1Code2}"
           type="text"/>
    <input class="w-64 px-4 py-2 rounded-md drop-shadow-md focus:outline-purple-500 mb-2" placeholder="Location 1 Name"
           th:field="*{bookLocation1Name}"
           type="text"/>

    <p class="col-span-3 text-red-300" th:errors="*{bookLocation1Code1}"
       th:if="${#fields.hasErrors('bookLocation1Code1')}"></p>
    <p class="col-span-3 text-red-300" th:errors="*{bookLocation1Code2}"
       th:if="${#fields.hasErrors('bookLocation1Code2')}"></p>
    <p class="col-span-3 text-red-300" th:errors="*{bookLocation1Name}"
       th:if="${#fields.hasErrors('bookLocation1Name')}"></p>

    <input class="w-64 px-4 py-2 rounded-md drop-shadow-md focus:outline-purple-500 mb-2"
           placeholder="Location 2 Code 1" th:field="*{bookLocation2Code1}"
           type="text"/>
    <input class="w-64 px-4 py-2 rounded-md drop-shadow-md focus:outline-purple-500 mb-2"
           placeholder="Location 2 Code 2" th:field="*{bookLocation2Code2}"
           type="text"/>
    <input class="w-64 px-4 py-2 rounded-md drop-shadow-md focus:outline-purple-500 mb-2" placeholder="Location 2 Name"
           th:field="*{bookLocation2Name}"
           type="text"/>

    <p class="col-span-3 text-red-300" th:errors="*{bookLocation2Code1}"
       th:if="${#fields.hasErrors('bookLocation2Code1')}"></p>
    <p class="col-span-3 text-red-300" th:errors="*{bookLocation2Code2}"
       th:if="${#fields.hasErrors('bookLocation2Code2')}"></p>
    <p class="col-span-3 text-red-300" th:errors="*{bookLocation2Name}"
       th:if="${#fields.hasErrors('bookLocation2Name')}"></p>

    <input class="w-64 px-4 py-2 rounded-md drop-shadow-md focus:outline-purple-500 mb-2"
           placeholder="Location 3 Code 1" th:field="*{bookLocation3Code1}"
           type="text"/>
    <input class="w-64 px-4 py-2 rounded-md drop-shadow-md focus:outline-purple-500 mb-2"
           placeholder="Location 3 Code 2" th:field="*{bookLocation3Code2}"
           type="text"/>
    <input class="w-64 px-4 py-2 rounded-md drop-shadow-md focus:outline-purple-500 mb-2" placeholder="Location 3 Name"
           th:field="*{bookLocation3Name}"
           type="text"/>

    <p class="col-span-3 text-red-300" th:errors="*{bookLocation3Code1}"
       th:if="${#fields.hasErrors('bookLocation3Code1')}"></p>
    <p class="col-span-3 text-red-300" th:errors="*{bookLocation3Code2}"
       th:if="${#fields.hasErrors('bookLocation3Code2')}"></p>
    <p class="col-span-3 text-red-300" th:errors="*{bookLocation3Name}"
       th:if="${#fields.hasErrors('bookLocation3Name')}"></p>

    <button class="col-span-2 bg-transparent hover:bg-purple-400 text-purple-500 font-bold hover:text-white py-2 px-4 border border-purple-500 hover:border-transparent rounded w-64"
            name="submit"
            type="submit">Cancel
    </button>

    <button class="w-64 px-4 py-2 bg-purple-500 rounded-md focus:outline-none focus:bg-purple-400 hover:bg-purple-400 text-white font-bold drop-shadow-md"
            name="submit"
            type="submit">Create
    </button>


</form>

</body>
</html>