<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Popular</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<!--    Header-->
<div class="bg-purple-500 text-white text-xl font-bold w-screen flex align-middle justify-between align-middle sticky top-0 z-50">
    <div class="py-5 pl-5 flex align-middle">
        <a href="/books">
            <img class="h-8" th:alt="logo" th:src="@{/logo.png}"/>
        </a>
        <span class="pl-5 cursor-default" th:text="|Hi ${user.getUsername()}|" ></span>
    </div>
    <div class="flex py-5">
        <a class="pr-2" href="/books">books</a>
        <a class="pr-2" href="/popular">popular</a>
        <th:block th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
            <a class="pr-2" href="/create">create</a>
        </th:block>
        <a class="flex pr-5 pb-1">
            <form class="flex" method="post" th:action="@{/logout}">
                <input class="cursor-pointer" type="submit" value="logout"/>
                <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
            </form>
        </a>
    </div>
</div>

<!--    Books-->

<div class="container mx-auto">


    <div class="w-full flex mt-4">
        <div class="inline-grid grid-cols-3 gap-4 mx-auto justify-between">
            <!--            page title-->
            <span class="text-4xl font-bold col-span-3">Most favorite books</span>

            <!--            grid-->
            <a class="w-64 p-4 h-auto bg-white flex flex-col rounded-md drop-shadow-md hover:border-purple-500 border-2 overflow-hidden" th:each="book: ${books}"
               th:href="|/books/${book.getId()}|">
                <!--            book cover-->
                <div class="flex w-40 overflow-hidden mx-auto">
                    <img class="object-cover w-40 h-64" th:alt="${book.getTitle()}" th:src="@{${book.getCoverUrl()}}"/>
                </div>
                <!--            book title-->
                <p class="text-lg font-bold truncate" th:text="${book.getTitle()}">
                </p>
                <!--            book authors-->
                <div class="text-ellipsis overflow-hidden" th:text="${book.getAuthorsAsString()}">
                </div>
                <!--            book authors-->
                <div class="text-ellipsis overflow-hidden" th:text="|Saved ${book.getUsersList().size()} times|">
                </div>
            </a>
        </div>
    </div>
</div>
</body>
</html>